<div style="background-color: #58805a2b;width: 100%;"> 
    <h1 style="margin-top: 2%;
    margin-left: 2%;
    color: #6c757d;
    font-style: oblique;">
    <a (click)="goToAcceuil()"><img style="width: 2%;" src="assets/images/back.png">Acceuil /</a>Vos commandes
    </h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Etat de commande</th>
                <th scope="col">Date de commande</th>
                <th scope="col">Montant</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let cmd of cmds">
                <th scope="row">{{cmd?.etat_dossier}}</th>
                <td>{{cmd?.date_commande}}</td>
                <td>{{cmd?.montant_acompte}}</td>
                <td><a (click)="Getdetails()"><img src="../../assets/images/loop.png"
                    style="width: 21px; height: 21px;"></a></td>
            </tr>
        </tbody>
    </table>