<div style="background-color: #58805a2b;width: 100%;">
<img src="assets/images/logo.png" style="width: 10%;     margin-left: 2%;">
<div class="btn-group" dropdown container="body" style="margin-left: 69%; margin-top: 0.2%;">
  <p>{{user.prenom}} {{user.nom}}</p> 
 <button id="button-container" dropdownToggle type="button" class="  dropdown-toggle" style="  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none; "
  aria-controls="dropdown-container">
                                                                                                                   
<img src="assets/images/user.png" style="width: 25%;height: 100%;
filter: invert(54%) sepia(20%) saturate(3219%) hue-rotate(52deg) brightness(107%) contrast(89%); ">
  </button>
  <ul id="dropdown-container" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-container">
    <li role="menuitem"><a class="dropdown-item" href="/compte">Mon compte</a></li>
    <li role="menuitem"  tooltip="Veuillez nous communiquer vos dates de vacances !"
    placement="right"><a class="dropdown-item" href="/dispo">Mes disponibilités</a></li>
    <li role="menuitem"><a class="dropdown-item" href="/cmd">Mes commandes</a></li>
    <li role="menuitem"><a class="dropdown-item" href="/contact">Contactez-nous</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Se déconnecter</a>
    </li>
  </ul>
</div>
</div>

<h1 style="margin-top: 2%;
margin-left: 2%;
color: #6c757d;
font-style: oblique;">
<a (click)="goToAcceuil()"><img style="width: 2%;" src="assets/images/back.png">Acceuil /</a>Votre compte
</h1>

<form #MyForm="ngForm" class="col-12">

  <div class="form-row field">
     <label class="col-sm-2 col-form-label " style="font-weight :bold; " for="name">Nom</label>
     <input type="text" class="form-control col-sm-7" required name="name" id="name" [(ngModel)]="user.nom" #name="ngModel"/>
     <div *ngIf="!name.valid && name.touched"
          class="alert alert-danger" style="margin-left: 16.5%;
          MARGIN-TOP: 1%;">
       Name is required
     </div>
  </div>

  <div class="form-row field">
    <label class="col-sm-2 col-form-label " style="font-weight :bold; " for="prenom">Prénom</label>
    <input type="text" class="form-control col-sm-7" required name="prenom" id="prenom" [(ngModel)]="user.prenom" #prenom="ngModel"/>
    <div *ngIf="!prenom.valid && prenom.touched"
         class="alert alert-danger" style="margin-left: 16.5%;
         MARGIN-TOP: 1%;">
      Prenom is required
    </div>
 </div>

  <div class="form-row field">
    <label class="col-sm-2 col-form-label " style="font-weight :bold; " for="adresse">Adresse</label>
    <input type="text" class="form-control col-sm-7" name="adresse" id="adresse" [(ngModel)]="user.adresse" required  #adresse="ngModel"/>
    <div *ngIf="!adresse.valid && adresse.touched"
         class="alert alert-danger" style="margin-left: 16.5%;
         MARGIN-TOP: 1%;">
      Adresse is required
    </div>
 </div>
 
 <div class="form-row field">
  <label class="col-sm-2 col-form-label " style="font-weight :bold; " for="code">Code postal</label>
  <input type="text" class="form-control col-sm-3" pattern="(09)[0-9 ]{9}" name="code" id="code" [(ngModel)]="user.code_postal" required  #code="ngModel"/>
  <!--<div *ngIf="!code.valid && code.touched"
       class="alert alert-danger" style="margin-left: 16.5%;
       MARGIN-TOP: 1%;">
    Code postal is required
  </div>

  <div *ngIf="code.errors?.pattern"
  class="alert alert-danger" style="margin-left: 16.5%;
  MARGIN-TOP: 1%;">
This is not a valid code postal !
</div>!-->

  <label class="col-sm-2 col-form-label" for="ville" style="margin-left: 7%; font-weight :bold;">Ville</label>
  <input type="text" class="form-control col-sm-3" name="ville" id="ville" [(ngModel)]="user.ville"/>
  
  <!--required  #ville="ngModel"/>
  <div *ngIf="!ville.valid && ville.touched"
       class="alert alert-danger" style="margin-left: 16.5%;
       MARGIN-TOP: 1%;">
    Ville is required
  </div>!-->
</div>

<div class="form-row field">
  <label class="col-sm-2 col-form-label " style="font-weight :bold; " for="tel_portable">Téléphone portable</label>
  <input type="text" class="form-control col-sm-3" name="tel_portable" id="tel_portable" [(ngModel)]="user.tel_portable" />
  
  <!--required  #portable="ngModel"/>
  <div *ngIf="!portable.valid && portable.touched"
       class="alert alert-danger" style="margin-left: 16.5%;
       MARGIN-TOP: 1%;">
    Portable is required
  </div>!-->

  <label class="col-sm-2 col-form-label "  for="fixe" style="margin-left: 7%; font-weight :bold;"> Téléphone Fixe</label>
  <input type="text" class="form-control col-sm-3" name="fixe" id="fice" [(ngModel)]="user.tel_fixe" />
</div>

<div class="form-row field">
  <label class="col-sm-2 col-form-label " style="font-weight :bold; " for="email">Email</label>
  <input type="email" class="form-control col-sm-7" name="email" id="email" [(ngModel)]="user.email" 
  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  required  #email="ngModel"/>
  <div *ngIf="!email.valid && email.touched "
       class="alert alert-danger" style="margin-left: 16.5%;
       MARGIN-TOP: 1%;">
    Email is required
  </div>
  <div *ngIf="email.errors?.pattern"
       class="alert alert-danger" style="margin-left: 16.5%;
       MARGIN-TOP: 1%;">
    This is not a valid Email!
  </div>
</div>

<div class="form-row field">
  <label class="col-sm-2 col-form-label " style="font-weight :bold; " for="civilite">Civilité</label>
  <input type="text" class="form-control col-sm-7" name="civilite" id="civilite" [(ngModel)]="user.civilite" required  #civilite="ngModel"/>
  <div *ngIf="!civilite.valid && civilite.touched"
       class="alert alert-danger" style="margin-left: 16.5%;
       MARGIN-TOP: 1%;">
    Civility is required
  </div>
</div>

<div class="form-row field">
  <label class="col-sm-2 col-form-label " style="font-weight :bold;" for="profession">Profession</label>
  <input type="text" class="form-control col-sm-7" name="profession" id="profession" [(ngModel)]="user.profession" required  #profession="ngModel"/>
  <div *ngIf="!profession.valid && profession.touched"
       class="alert alert-danger" style="margin-left: 16.5%;
       MARGIN-TOP: 1%;">
    Profession is required
  </div>
</div>

<button class="btn btn-success" style="margin-top: 0%; ; float: right;     font-size: revert;" (click)="saveUser(user)">Sauvegarder</button>
</form>



