
<form>
 <fieldset class="border border-dark p-2">
   <legend class="w-auto"> Identité Tech Conseil </legend>
   <div>
     <input type="text" required placeholder="Vendeur Principal" style="margin-bottom:2%;"/>
     <input type="number" required placeholder="Pourcentage " style="margin-bottom: 1%;"/>
     <select style="margin-left: 2%;" >
       <option value="">--Tech Conseil 1 Associé --</option>
       <option *ngFor = 'let com of commercials'>{{com.nom}} {{com.prenom}}</option>
     </select>
     <input type="number" required placeholder="Pourcentage tech 1" style="margin-bottom: 1%;"/>
     <select style="margin-left: 2%;" >
       <option value="">--Tech Conseil 2 Associé --</option>
       <option *ngFor = 'let com of commercials'>{{com.nom}} {{com.prenom}}</option>
     </select>
     <input type="number" required placeholder="Pourcentage tech 2" style= "margin-bottom: 1%;"/>
   </div>
 </fieldset>
 <br>
 <fieldset class="border border-dark p-2">
   <legend class="w-auto"> Bon de commande </legend>
  <div class="dropdown ">
  <select>
    <option >--Agence--</option>
    <option *ngFor = 'let agence of agences ' [value]='agence.nom'>{{agence.nom}}</option>
  </select>

    <select style="margin-left: 2% ">
      <option value="">--Entité Vente --</option>
      <option *ngFor = 'let entity of entiteVente' [value]='entity.nom'>{{entity.nom}}</option>
    </select>

    <input type="text" required placeholder="Numéro BDC" style="margin-left: 2%;" size="10" />
    <label for="start" style="margin-left: 2%"> Date de commande: </label>
    <input type="date" id="start" style="margin-left: 1%">
    <label for="end" style="margin-left: 2%"> Date de réception: </label>
    <input type="date" id="end" style="margin-left: 1%">

    <select style="margin-left: 2% ">
      <option value="">--Origine Contact--</option>
      <option *ngFor = 'let contact of contactOrigines' [value]='contact.nom'>{{contact.nom}}</option>
    </select>
  </div>
 </fieldset>
 <br>
  <fieldset class="border border-dark p-2">
    <legend class="w-auto"> Coordonnées Client</legend>
  <div  class="form-row  ml-auto mr-auto">
         <div class="form-group col-md-6">
           <label for="nom"> Nom <span>*</span> </label>
           <input type="text" class="form-control" id="nom" name="nom" required placeholder="Nom" />
         </div>
         <div class="form-group col-md-6">
           <label for="prénom"> Prénom <span>*</span> </label>
           <input type="text" class="form-control" id="prénom" name="prénom" required placeholder="prénom" />
         </div>
         <div class="form-group col-md-6">
           <label for="adresse"> Adresse <span>*</span> </label>
           <input type="text" class="form-control" id="adresse" name="adresse" required placeholder="Adresse" />
         </div>
         <div class="form-group col-md-6">
           <label for="cp"> Code Postal <span>*</span> </label>
           <input type="text" class="form-control" id="cp" name="cp" required placeholder="Code Postal" />
         </div>
         <div class="form-group col-md-6">
           <label for="nom"> Ville <span>*</span> </label>
           <input type="text" class="form-control" id="ville" name="ville" required placeholder="Ville" />
         </div>
         <div class="form-group col-md-6">
           <label for="portable"> Portable <span>*</span> </label>
           <input type="text" class="form-control" id="portable" name="portable" required placeholder="Portable"/>
         </div>
         <div class="form-group col-md-6">
           <label for="fixe"> Téléphone Fixe </label>
           <input type="text" class="form-control" id="fixe" name="fixe" required placeholder="Téléphone Fixe"/>
         </div>
         <div class="form-group col-md-6">
           <label for="fixe"> Email <span>*</span> </label>
           <input type="text" class="form-control" id="Email" name="Email" required placeholder="Email"/>
         </div>
  </div>
  </fieldset>
   <br>
   <fieldset class="border border-dark p-2">
     <legend class="w-auto"> Information Chantier </legend>
     <div  class="form-row  ml-auto mr-auto">
     <div class="form-group col-md-3">
       <select (change)="loadcomptravaux($event)" style="margin-left: 2% ">
         <option [ngValue]="">--Type de Travaux--</option> 
         <option *ngFor = 'let travaux of typeTravaux'>{{travaux.nom}}</option>
       </select>
     </div>
     <div class="form-group col-md-3">
       <select style="margin-left: 2% ">
         <option value="">--Elément à rénover--</option>
         <option *ngFor = 'let el of elements'>{{el.nom}}</option>
       </select>
     </div>
     <div class="form-group col-md-3">
       <select style="margin-left: 2% ">
         <option value="">-- Prestation à réaliser --</option>
         <option *ngFor = 'let presta of prestations'>{{presta.nom}}</option>
       </select>
     </div>
       <div class="form-group col-md-3">
         <select style="margin-left: 2% ">
           <option value="">-- Support existant --</option>
           <option *ngFor = 'let sup of supports'>{{sup.nom}}</option>
         </select>
       </div>
       <br>
     <div class="form-group col-md-2">
       <label for="métré"> Métré <span>*</span> </label>
       <input type="number" class="form-control" id="métré" name="métré" required placeholder="Métré"/>
     </div>
       <div class="form-group col-md-2">
         <label for="remise métré"> Remise sur métré <span>*</span> </label>
         <input type="number" class="form-control" id="remise métré" name=" resmise métré" required placeholder="Remise sur métré"/>
       </div>

     <div class="form-group col-md-2">
       <label for="HT/m²"> Prix HT/m² </label>
       <input type="text" class="form-control" id="HT/m²" name="HT/m²" required placeholder="Prix HT/m²"/>
     </div>

       <div class="form-group col-md-2">
         <label for="HT/m²"> Prix Total HT </label>
         <input type="text" class="form-control" id="Prix total HT" name="HT/m²" required placeholder="Prix Total HT"/>
       </div>

     <div class="form-group col-md-1">
       <label for="TVA"> TVA </label>
       <input type="number" class="form-control" id="TVA" name="TVA" required placeholder="TVA"/>
     </div>

     <div class="form-group col-md-2">
       <label for="Total TTC"> Prix Total TTC </label>
       <input type="number" class="form-control" id="Total TTC" name="Total TTC" required placeholder="Prix Total TTC"/>
     </div>

     </div>
   </fieldset>
   <br>
   <fieldset class="border border-dark p-2" *ngIf="vente != '--Type de Travaux--'">
    <legend class="w-auto"> Travaux Complémentaires </legend>
    <div  class="form-row  ml-auto mr-auto">
      <div class="form-group col-md-3">
        <select style="margin-left: 2% ">
          <option value="">--Type de Travaux--</option> 
          <option *ngFor = 'let travaux of typeTravaux'>{{travaux.nom}}</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <select style="margin-left: 2% ">
          <option value="">--Elément à rénover--</option>
          <option *ngFor = 'let el of elements'>{{el.nom}}</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <select style="margin-left: 2% ">
          <option value="">-- Prestation à réaliser --</option>
          <option *ngFor = 'let presta of prestations'>{{presta.nom}}</option>
        </select>
      </div>
        <div class="form-group col-md-3">
          <select style="margin-left: 2% ">
            <option value="">-- Support existant --</option>
            <option *ngFor = 'let sup of supports'>{{sup.nom}}</option>
          </select>
        </div>
        <br>
 
      <div class="form-group col-md-2">
        <label for="métré"> Métré <span>*</span> </label>
        <input type="number" class="form-control" id="métré" name="métré" required placeholder="Métré"/>
      </div>
        <div class="form-group col-md-2">
          <label for="remise métré"> Remise sur métré <span>*</span> </label>
          <input type="number" class="form-control" id="remise métré" name=" resmise métré" required placeholder="Remise sur métré"/>
        </div>
 
      <div class="form-group col-md-2">
        <label for="HT/m²"> Prix HT/m² </label>
        <input type="text" class="form-control" id="HT/m²" name="HT/m²" required placeholder="Prix HT/m²"/>
      </div>
 
        <div class="form-group col-md-2">
          <label for="HT/m²"> Prix Total HT </label>
          <input type="text" class="form-control" id="Prix total HT" name="HT/m²" required placeholder="Prix Total HT"/>
        </div>
 
      <div class="form-group col-md-1">
        <label for="TVA"> TVA </label>
        <input type="number" class="form-control" id="TVA" name="TVA" required placeholder="TVA"/>
      </div>
 
      <div class="form-group col-md-2">
        <label for="Total TTC"> Prix Total TTC </label>
        <input type="number" class="form-control" id="Total TTC" name="Total TTC" required placeholder="Prix Total TTC"/>
      </div>
    </div>
   </fieldset>
   <br>

   <div class="form-group col-md-3">
    <select (change)="onItemChange($event)">
      <option name="">-- Mode de règlement --</option>
      <option *ngFor = 'let mode of reglementMode ' [value]='mode.value'>{{mode.name}}</option>
    </select>
  </div>

   <br>
   <fieldset class="border border-dark p-2" *ngIf="select=='Comptant'">
       <legend class="w-auto"> REGLEMENT COMPTANT </legend>
     <div class="form-group">
     <label for="montant TTC"> Montant TTC: </label>
     <input type="text" id="montant TTC" name="Montant TTC" style="margin-left: 1%" required placeholder="Montant TTC"/>
       <label for="acompte" style="margin-left: 10%"> Acompte: </label>
       <input type="text" id="acompte" name=" acompte" style="margin-left: 4%" required placeholder="Acompte"/>
       <label for="enc" style="margin-left: 10%"> Date Encaissement: </label>
       <input type="date" id="enc" style="margin-left: 1%">
     </div>
     <div class="form-group">
       <label for="solde" > Solde de: </label>
       <input type="text" id="solde" name="Montant TTC" style="margin-left: 3%" required placeholder="Solde de"/>
       <label for="echeance" style="margin-left: 10%"> A régler en: </label>
       <input type="number" id="echeance" name="echeance" style="margin-left: 3%" required placeholder="Nombre de règlement"/>
     </div>
     <div class="form-group">
       <label for="CDT" > CDT: </label>
       <input type="text" id="CDT" name="CDT" style="margin-left: 5%" required placeholder="CDT"/>
     </div>
     <div class="form-group">
       <label for="CDR" > CDR: </label>
       <input type="text" id="CDR" name="CDR" style="margin-left: 5%" required placeholder="CDR"/>
     </div>
   </fieldset>
   <br>
   <fieldset class="border border-dark p-2" *ngIf="select=='Financement'">
     <legend class="w-auto"> REGLEMENT PAR FINANCEMENT </legend>
    <div>
     <select>
       <option value="">--Organisme--</option>
       <option value="Domofinance">Domofinance</option>
       <option value="Financo">Financo</option>
     </select>
    </div>
     <br>
     <div class="form-group">
       <label for="date offre"> Date offre: </label>
       <input type="date" style="margin-left: 7%" id="date offre">
     </div>

     <div class="form-group">
       <label for="Montant financé" > Montant financé: </label>
       <input type="text" id="Montant financé" name="Montant financé" style="margin-left: 3.7%" required placeholder="Montant financé"/>
     </div>

     <div class="form-group">
       <label for="durée" > Durée (en mois): </label>
       <input type="number" id="durée" name="durée" style="margin-left: 4%" required placeholder="durée (en mois)"/>
     </div>

     <div class="form-group">
       <label for="Taux" > Taux: </label>
       <input type="text" id="Taux" name="Taux" style="margin-left: 9.5%" required placeholder="Taux"/>
     </div>

     <div class="form-group">
       <label for="coût vendeur" > Coût vendeur: </label>
       <input type="text" id="coût vendeur" name="coût vendeur" style="margin-left: 5.1%" required placeholder="Coût vendeur"/>
     </div>
   </fieldset> 

   <div class="col text-right">
    <button type="submit" class="btn btn-primary ml-4">Enregistrer</button>
    </div>

</form>