
<form>
 <fieldset class="border border-dark p-2">
   <legend class="w-auto"> Identité Tech Conseil </legend>
   <div>
     <input type="text" required placeholder="Code vendeur" style="margin-bottom:2%;"/>
     <select style="margin-left: 2%;" >
       <option value="">--Tech Conseil 1 Associé --</option>
       <option value="tech1">tech 1</option>
       <option value="tech 1">Tech 2</option>
       <option value=" tech 3">Tech 3</option>
     </select>
     <input type="number" required placeholder="Pourcentage tech 1" style="margin-bottom: 1%;"/>
     <select style="margin-left: 2%;" >
       <option value="">--Tech Conseil 2 Associé --</option>
       <option value="tech1">tech 1</option>
       <option value="tech 1">Tech 2</option>
       <option value=" tech 3">Tech 3</option>
     </select>
     <input type="number" required placeholder="Pourcentage tech 2" style= "margin-bottom: 1%;"/>
     <select style="margin-left: 2%;" >
       <option value="">--Tech Conseil 3 Associé--</option>
       <option value="tech1">tech 1</option>
       <option value="tech 1">Tech 2</option>
       <option value=" tech 3">Tech 3</option>
     </select>
     <input type="number" required placeholder="Pourcentage tech 3" style="margin-bottom: 1%;"/>
   </div>
 </fieldset>
 <br>
 <fieldset class="border border-dark p-2">
   <legend class="w-auto"> Bon de commande </legend>
  <div class="dropdown ">
  <select>
    <option >--Agence--</option>
    <option value="La Mézière">La Mézière</option>
    <option value="Trégueux">Trégueux</option>
    <option value="Fougères">Fougères</option>
  </select>

    <select style="margin-left: 2% ">
      <option value="">--Entité Vente--</option>
      <option value="LFT">LFT</option>
      <option value="BAT">BAT</option>
    </select>

    <input type="text" required placeholder="Numéro BDC" style="margin-left: 2%;" size="10" />
    <label for="start" style="margin-left: 2%"> Date de commande: </label>
    <input type="date" id="start" style="margin-left: 1%">
    <label for="end" style="margin-left: 2%"> Date de réception: </label>
    <input type="date" id="end" style="margin-left: 1%">

    <select style="margin-left: 2% ">
      <option value="">--Origine Contact--</option>
      <option value="Tap">Tap</option>
      <option value="Rajout Client">Rajout Client</option>
      <option value="Pages Jaunes">Pages Jaunes</option>
      <option value="Visuel Chantier">Visuel Chantier</option>
      <option value="Visuel Panneau"> Visuel Panneau</option>
      <option value="Retour Prospect">Retour Prospect</option>
    </select>
  </div>
 </fieldset>
 <br>

  <fieldset class="border border-dark p-2">
    <legend class="w-auto"> Coordonnées Client</legend>
  <div  class="form-row  ml-auto mr-auto">
         <div class="form-group col-md-6">
           <label for="nom"> Nom <span>*</span> </label>
           <input type="text" class="form-control" id="nom" name="nom" required placeholder="Nom" />
         </div>
         <div class="form-group col-md-6">
           <label for="prénom"> Prénom <span>*</span> </label>
           <input type="text" class="form-control" id="prénom" name="prénom" required placeholder="prénom" />
         </div>
         <div class="form-group col-md-6">
           <label for="adresse"> Adresse <span>*</span> </label>
           <input type="text" class="form-control" id="adresse" name="adresse" required placeholder="Adresse" />
         </div>
         <div class="form-group col-md-6">
           <label for="cp"> Code Postal <span>*</span> </label>
           <input type="text" class="form-control" id="cp" name="cp" required placeholder="Code Postal" />
         </div>
         <div class="form-group col-md-6">
           <label for="nom"> Ville <span>*</span> </label>
           <input type="text" class="form-control" id="ville" name="ville" required placeholder="Ville" />
         </div>
         <div class="form-group col-md-6">
           <label for="portable"> Portable <span>*</span> </label>
           <input type="text" class="form-control" id="portable" name="portable" required placeholder="Portable"/>
         </div>
         <div class="form-group col-md-6">
           <label for="fixe"> Téléphone Fixe </label>
           <input type="text" class="form-control" id="fixe" name="fixe" required placeholder="Téléphone Fixe"/>
         </div>
         <div class="form-group col-md-6">
           <label for="fixe"> Email <span>*</span> </label>
           <input type="text" class="form-control" id="Email" name="Email" required placeholder="Email"/>
         </div>
  </div>
  </fieldset>
   <br>
   <fieldset class="border border-dark p-2">
     <legend class="w-auto"> Information Chantier </legend>
     <div  class="form-row  ml-auto mr-auto">
     <div class="form-group col-md-3">
       <select style="margin-left: 2% ">
         <option value="">--Type de Travaux--</option>
         <option value="Toitures"> Toitures </option>
         <option value="Façade"> Façade </option>
       </select>
     </div>
     <div class="form-group col-md-3">
       <select style="margin-left: 2% ">
         <option value="">--Elément à rénover--</option>
         <option value="Couverture"> Couverture </option>
         <option value="Façade complète"> Façade complète </option>
       </select>
     </div>
     <div class="form-group col-md-3">
       <select style="margin-left: 2% ">
         <option value="">-- Prestation à réaliser --</option>
         <option value="Démoussage simple"> Démoussage simple </option>
         <option value="Balayage Démoussage"> Balayage Démoussage </option>
       </select>
     </div>
       <div class="form-group col-md-3">
         <select style="margin-left: 2% ">
           <option value="">-- Support existant --</option>
           <option value="Ardoise fibro "> Ardoise fibro </option>
           <option value="Ardoise naturelle"> Ardoise naturelle </option>
         </select>
       </div>
       <br>

     <div class="form-group col-md-2">
       <label for="métré"> Métré <span>*</span> </label>
       <input type="number" class="form-control" id="métré" name="métré" required placeholder="Métré"/>
     </div>
       <div class="form-group col-md-2">
         <label for="remise métré"> Remise sur métré <span>*</span> </label>
         <input type="number" class="form-control" id="remise métré" name=" resmise métré" required placeholder="Remise sur métré"/>
       </div>

     <div class="form-group col-md-2">
       <label for="HT/m²"> Prix HT/m² </label>
       <input type="text" class="form-control" id="HT/m²" name="HT/m²" required placeholder="Prix HT/m²"/>
     </div>

       <div class="form-group col-md-2">
         <label for="HT/m²"> Prix Total HT </label>
         <input type="text" class="form-control" id="Prix total HT" name="HT/m²" required placeholder="Prix Total HT"/>
       </div>

     <div class="form-group col-md-1">
       <label for="TVA"> TVA </label>
       <input type="number" class="form-control" id="TVA" name="TVA" required placeholder="TVA"/>
     </div>

     <div class="form-group col-md-2">
       <label for="Total TTC"> Prix Total TTC </label>
       <input type="number" class="form-control" id="Total TTC" name="Total TTC" required placeholder="Prix Total TTC"/>
     </div>
       <div class="form-group col-md-3">
         <select (change)="onItemChange($event.target.value)" style="margin-left: 2% ">
           <option name="">-- Mode de règlement --</option>
           <option *ngFor = 'let mode of reglementMode ' [value]='mode.value'>{{mode.name}}</option>
         </select>
       </div>

     </div>
   </fieldset>
   <br>
   <fieldset class="border border-dark p-2" *ngIf="select=='Comptant'">
       <legend class="w-auto"> REGLEMENT COMPTANT </legend>
     <div class="form-group">
     <label for="montant TTC"> Montant TTC: </label>
     <input type="text" id="montant TTC" name="Montant TTC" style="margin-left: 1%" required placeholder="Montant TTC"/>
       <label for="acompte" style="margin-left: 10%"> Acompte: </label>
       <input type="text" id="acompte" name=" acompte" style="margin-left: 4%" required placeholder="Acompte"/>
       <label for="enc" style="margin-left: 10%"> Date Encaissement: </label>
       <input type="date" id="enc" style="margin-left: 1%">
     </div>
     <div class="form-group">
       <label for="solde" > Solde de: </label>
       <input type="text" id="solde" name="Montant TTC" style="margin-left: 3%" required placeholder="Solde de"/>
       <label for="echeance" style="margin-left: 10%"> A régler en: </label>
       <input type="number" id="echeance" name="echeance" style="margin-left: 3%" required placeholder="Nombre de règlement"/>
     </div>
     <div class="form-group">
       <label for="CDT" > CDT: </label>
       <input type="text" id="CDT" name="CDT" style="margin-left: 5%" required placeholder="CDT"/>
     </div>
     <div class="form-group">
       <label for="CDR" > CDR: </label>
       <input type="text" id="CDR" name="CDR" style="margin-left: 5%" required placeholder="CDR"/>
     </div>
   </fieldset>
   <br>
   <fieldset class="border border-dark p-2" *ngIf="select=='Financement'">
     <legend class="w-auto"> REGLEMENT PAR FINANCEMENT </legend>
    <div>
     <select>
       <option value="">--Organisme--</option>
       <option value="Domofinance">Domofinance</option>
       <option value="Financo">Financo</option>
     </select>
    </div>
     <br>
     <div class="form-group">
       <label for="date offre"> Date offre: </label>
       <input type="date" style="margin-left: 7%" id="date offre">
     </div>

     <div class="form-group">
       <label for="Montant financé" > Montant financé: </label>
       <input type="text" id="Montant financé" name="Montant financé" style="margin-left: 3.7%" required placeholder="Montant financé"/>
     </div>

     <div class="form-group">
       <label for="durée" > Durée (en mois): </label>
       <input type="number" id="durée" name="durée" style="margin-left: 4%" required placeholder="durée (en mois)"/>
     </div>

     <div class="form-group">
       <label for="Taux" > Taux: </label>
       <input type="text" id="Taux" name="Taux" style="margin-left: 9.5%" required placeholder="Taux"/>
     </div>

     <div class="form-group">
       <label for="coût vendeur" > Coût vendeur: </label>
       <input type="text" id="coût vendeur" name="coût vendeur" style="margin-left: 5.1%" required placeholder="Coût vendeur"/>
     </div>
   </fieldset>

</form>




