.btn-success {
    color: #fff;
    background-color: #8cb53bc4;
    border-color: #8cb53bc4;
}
.background {
    background-size: cover;
    background-position: center center;
filter: blur(4px);
    background-repeat: no-repeat;
    height: 97.5%;
  }