<div style="background-color: #58805a2b;width: 100%;"> 
    <h1 style="margin-top: 2%;
    margin-left: 2%;
    color: #6c757d;
    font-style: oblique;">
    <a (click)="goToAcceuil()"><img style="width: 2%;" src="assets/images/back.png">Acceuil /</a>Contactez-nous
    </h1>
    <form>
        <div class="form-group" style="margin-right: 5%; margin-left: 5%;">
            <textarea 
            [(ngModel)]="user.message" placeholder="Exprimez vous !" class="form-control" 
            id="exampleFormControlTextarea1" rows="3" name="message"
            [ngModelOptions]="{standalone: true}" ></textarea>
          </div>
    </form>
        <div style="margin-left:45%; margin-top: 4%;">
            <img style="    width: 5.5%;
            margin-right: 14%;" src="assets/images/contact.png">

        <img style="width: 6%;" src="assets/images/email.png">
    </div>
    <div  style="margin-left:44%;">
<input type="text" value="0000000" style="    border: none;">
<input type="text" value="test@test.com" style="    border: none;">
</div>
<button class="btn btn-success" style="margin-top: 0%; ; float: right;     font-size: revert;" (click)="save(user)">Sauvegarder</button>
