<div style="background-color: #58805a2b;
width: 100%;">
    <img src="assets/images/logo.png" style="width: 10%;     margin-left: 2%;">
</div>
<form>
    FACTURATION<BR>
    <div class="form-row">
      <div class="form-check form-check-inline col-md-6">
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="monsieur">M. </label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="monsieur" value="monsieur">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="madame">Mme </label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="madame" value="madame">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="mademoiselle">Mlle </label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="mademoiselle" value="mademoiselle">
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom" placeholder="Nom">
        </div>
        <div class="form-group col-md-6">
          <label for="prenom">Prénom</label>
          <input type="text" class="form-control" id="prenom" placeholder="Prénom">
        </div>
        <div class="form-group col-md-4">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group col-md-4">
          <label for="portable">Portable</label>
          <input type="number" class="form-control" id="portable" placeholder="Portable">
        </div>
        <div class="form-group col-md-4">
          <label for="fixe">Tel fixe</label>
          <input type="number" class="form-control" id="fixe" placeholder="Tel fixe">
        </div>
    </div>
  
  
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="adresse">Adresse</label>
        <input type="text" class="form-control" id="adresse">
      </div>
      <div class="form-group col-md-6">
        <label for="ville">Ville</label>
        <input type="text" class="form-control" id="ville">
      </div>
      <div class="form-group col-md-2">
        <label for="cp">Code postal</label>
        <input type="text" class="form-control" id="cp">
      </div>
    </div>
   
  
  
  LIEU DU CHANTIER ET SUIVI
    <div class="form-group">
      <label for="inputAddress">Addresse</label>
      <input type="text" class="form-control" id="adresse" placeholder="1234 Main St">
    </div>
  
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Ville</label>
        <input type="text" class="form-control" id="ville">
      </div>
      <div class="form-group col-md-2">
        <label for="cp">Code postal</label>
        <input type="text" class="form-control" id="cp">
      </div>
    </div>
  
    <div class="form-group col-md-6">
      <label for="observation">Observation</label>
      <input type="text" class="form-control" id="observation" placeholder="observation">
    </div>
    <div class="form-group col-md-6">
      <label for="datelim">Date limite de réception</label>
      <input type="date" class="form-control" id="datelim" placeholder="datelim">
    </div>
    <div class="form-group col-md-6">
      <label for="conseiller">Conseiller</label>
      <input type="text" class="form-control" id="conseiller" placeholder="conseiller">
    </div>
    <div class="form-group col-md-6">
      <label for="inspecteur">Inspecteur</label>
      <input type="text" class="form-control" id="inspecteur" placeholder="inspecteur">
    </div>
   
    
  
    <div class="form-check form-check-inline">
      <label>Désignation des travaux</label>
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">FIBROCIMENT</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">NATURELLE</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
      <label class="form-check-label" for="inlineCheckbox3">TUILE</label>
    </div>
  
    <div class="alert alert-primary" role="alert">
      Rénovation et protection de toiture par procédé de résine hydrofuge imperméabilisante
    </div>
  
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Colorée en phase aaqueuse microporeuse jusqu'à saturation du support
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
      <label class="form-check-label" for="defaultCheck2">
        Incolore en phase aqueuse microporeuse  haute résistance
      </label>
    </div>
  <br><br>
  <div class="form-row">
    <div class="form-group col-md-6">
      Préparation du chantier et mise en sécurité 
    </div>
    <div class="form-group col-md-2">
      <input type="number" class="form-control" id="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      Protection par bâchage polyane étanche de toutes les surfaces nécessaires(abords)
    </div>
    <div class="form-group col-md-2">
      <input type="number" class="form-control" id="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      Passage du produit décrassant-désinfectant-dégraissant de type Techniclean ou équivalent
    </div>
    <div class="form-group col-md-2">
      <input type="number" class="form-control" id="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      Assainissement du support
    </div>
    <div class="form-group col-md-2">
      <input type="number" class="form-control" id="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      Mise en place du système UHT(ultra haute température)
    </div>
    <div class="form-group col-md-2">
      <input type="number" class="form-control" id="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      Vérification et nettoyage des gouttières 
    </div>
    <div class="form-group col-md-2">
      <input type="number" class="form-control" id="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      Vérification complète de la toiture
    </div>
    <div class="form-group col-md-2">
      <input type="number" class="form-control" id="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      Contrôle de tous les points d’infiltration(ardoises ou tuiles, crochets, faîtage,solins…) 
    </div>
    <div class="form-group col-md-2">
      <input type="number" class="form-control" id="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      Changement à neuf des supports présentant un risque d’infiltration 
    </div>
    <div class="form-group col-md-2">
      <input type="number" class="form-control" id="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      Pulvérisation d’une solution de traitement démoussant et de désinfection des supports afin d’éliminer toutes les traces de micro-organismes de type Technicide +PAE ou équivalent
    </div>
    <div class="form-group col-md-2">
      <input type="number" class="form-control" id="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      Traitement curatif fongicide, algicide, bactéricide
    </div>
    <div class="form-group col-md-2">
      <input type="number" class="form-control" id="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      Traitement préventif>produit à fort pouvoir rémanent en réactivation lors des pluies 
    </div>
    <div class="form-group col-md-2">
      <input type="number" class="form-control" id="">
    </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    Mise en place de la protection de profondeur par application Airless de la Résine hydrofuge
  </div>
  <div class="form-group col-md-2">
    <input type="number" class="form-control" id="">
  </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    Imperméabilisation de la couverture
  </div>
  <div class="form-group col-md-2">
    <input type="number" class="form-control" id="">
  </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    Repigmentassions de la couverture 
  </div>
  <div class="form-group col-md-2">
    <input type="number" class="form-control" id="">
  </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    Nettoyage et repli du chantier 
  </div>
  <div class="form-group col-md-2">
    <input type="number" class="form-control" id="">
  </div>
  </div>
  <br><br>
  <p>Travaux complémentaires</p>
  <div class="form-row">
    <div class="form-group col-md-4">
      Remaniement
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="rem1" value="rem1">
      <label class="form-check-label" for="rem1">Jusqu’à 50ardoises </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="rem2" value="rem2">
      <label class="form-check-label" for="rem2">Jusqu’à 100ardoises </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="rem3" value="rem3">
      <label class="form-check-label" for="rem3">Jusqu’à 150ardoises </label>
    </div>
    <div class="form-group col-md-4">
      
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="rem4" value="rem4">
      <label class="form-check-label" for="rem4">Aération en toiture de type  </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="rem5" value="rem5">
      <label class="form-check-label" for="rem5">Faitière sur</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="rem6" value="rem6">
      <label class="form-check-label" for="rem6"> kit amiante</label>
    </div>
  </div><br>
  <div class="form-row">
    <div class="form-group col-md-4">
      Décapage
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="dec1" value="dec1">
      <label class="form-check-label" for="dec1">Peinture de toit existante sur  </label>
    </div>
  </div><br>
  <div class="form-row">
    <div class="form-group col-md-4">
      Finition
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="fin1" value="fin1">
      <label class="form-check-label" for="fin1">Hydrofuges rives </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="fin2" value="fin2">
      <label class="form-check-label" for="fin2">Hydrofuges faitage  </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="fin3" value="fin3">
      <label class="form-check-label" for="fin3">Hydrofuge gouttières</label>
    </div>
    <div class="form-group col-md-4">
      
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="fin4" value="fin4">
      <label class="form-check-label" for="fin4">Hydrofuge fenêtre toit </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="fin5" value="fin5">
      <label class="form-check-label" for="fin5">Peinture cheminée </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="fin6" value="fin6">
      <label class="form-check-label" for="fin6">Sebicap tête cheminée</label>
    </div>
    <div class="form-group col-md-4">
      
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="fin7" value="fin7">
      <label class="form-check-label" for="fin7"> Peinture blanche propreté sous-face en façade</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="fin8" value="fin8">
      <label class="form-check-label" for="fin8">En rampant </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="fin9" value="fin9">
      <label class="form-check-label" for="fin9"> Ch assis</label>
    </div>
  </div><br>
  <div class="form-row">
  <div class="form-group col-md-4">
      
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="fin10" value="fin10">
    <label class="form-check-label" for="fin10"> Nettoyage 1 pignon -50m²  </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="fin11" value="fin11">
    <label class="form-check-label" for="fin11">Habillage planche rive ardoise  </label>
  </div></div>
  
  <br>
  <div class="form-row">
    <div class="form-group col-md-4">
      Acces
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="acc1" value="acc1">
      <label class="form-check-label" for="acc1">Nacelle</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="acc2" value="acc2">
      <label class="form-check-label" for="acc2"> Elagage de branche(e) </label>
    </div></div>
   <br>
  
  
  
    <button type="submit" class="btn btn-primary">Valider</button>
  </form>