



<div class="form-row  ml-auto mr-auto"  style="width:1000px;">



<div class="dropdown ">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Agence
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">La Mézière</button>
    <button class="dropdown-item" type="button">Trégueux</button>
    <button class="dropdown-item" type="button">Fougères</button>
  </div>
</div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Entité vente
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">LFT</button>
    <button class="dropdown-item" type="button">BAT</button>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    origine contact
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Tap</button>
    <button class="dropdown-item" type="button">Rajout client</button>
    <button class="dropdown-item" type="button">Pages jaunes</button>
    <button class="dropdown-item" type="button">Visuel chantier</button>
    <button class="dropdown-item" type="button">Visuel panneau</button>
    <button class="dropdown-item" type="button">Retour prospect</button>
    <button class="dropdown-item" type="button">Relationnel</button>
    <button class="dropdown-item" type="button">Visite agence</button>
    <button class="dropdown-item" type="button">Internet google</button>
    <button class="dropdown-item" type="button">Site internet</button>
    <button class="dropdown-item" type="button">Apporteur internet</button>
    <button class="dropdown-item" type="button">Retour BAL</button>
    <button class="dropdown-item" type="button">Parrainnage</button>
    <button class="dropdown-item" type="button">Coop client</button>
    <button class="dropdown-item" type="button">Coop fournisseur</button>
    <button class="dropdown-item" type="button">Coop ss traitant</button>
    <button class="dropdown-item" type="button">Coop collaborateur</button>
    <button class="dropdown-item" type="button">Galerie march</button>
    <button class="dropdown-item" type="button">Pub mag</button>
    <button class="dropdown-item" type="button">Salon</button>
    <button class="dropdown-item" type="button">Foire</button>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Type travaux
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button">Toiture</button>
    <button class="dropdown-item" type="button">Façade</button>
    <button class="dropdown-item" type="button">Isolation</button>
    <button class="dropdown-item" type="button">Zinguerie</button>
    <button class="dropdown-item" type="button">ITE</button>
    <button class="dropdown-item" type="button">Menuiserie</button>
    <button class="dropdown-item" type="button">Bardage</button>
    <button class="dropdown-item" type="button">Cloison sèche</button>
    <button class="dropdown-item" type="button">Taitement de bois</button>
    <button class="dropdown-item" type="button">Ventilation</button>
    <button class="dropdown-item" type="button">Travaux divers</button>
    <button class="dropdown-item" type="button">Location</button>
  </div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Elément à rénover
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button">Couverture</button>
    <button class="dropdown-item" type="button">Façade complète</button>
    <button class="dropdown-item" type="button">Pignon</button>
    <button class="dropdown-item" type="button">Faitage</button>
    <button class="dropdown-item" type="button">Cheminée</button>
    <button class="dropdown-item" type="button">Sous face</button>
    <button class="dropdown-item" type="button">Gouttière</button>
    <button class="dropdown-item" type="button">Fenêtre de toit</button>
    <button class="dropdown-item" type="button">Rive</button>
    <button class="dropdown-item" type="button">Rive bardelis</button>
    <button class="dropdown-item" type="button">Arrêtier</button>
    <button class="dropdown-item" type="button">Chatière</button>
  </div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Prestation à réaliser
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button">Démoussage simple</button>
    <button class="dropdown-item" type="button">Balayage Demoussage</button>
    <button class="dropdown-item" type="button">Nettoyage Simple</button>
    <button class="dropdown-item" type="button">Hydro coloré</button>
    <button class="dropdown-item" type="button">Hydro coloré sans nettoyage</button>
    <button class="dropdown-item" type="button">Hydro incolore</button>
    <button class="dropdown-item" type="button">Peinture</button>
    <button class="dropdown-item" type="button">Enduisage</button>
    <button class="dropdown-item" type="button">Dégraphage</button>
    <button class="dropdown-item" type="button">Remplacement</button>
    <button class="dropdown-item" type="button">Création</button>
    <button class="dropdown-item" type="button">Pose</button>
    <button class="dropdown-item" type="button">Echafaudage</button>
    <button class="dropdown-item" type="button">Nacelle</button>
  </div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Support existant
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button">Ardoise fibro</button>
    <button class="dropdown-item" type="button">Ardoise naturelle</button>
    <button class="dropdown-item" type="button">Tuile</button>
    <button class="dropdown-item" type="button">Enduit brut</button>
    <button class="dropdown-item" type="button">Enduit peint</button>
    <button class="dropdown-item" type="button">Bardage pvc</button>
    <button class="dropdown-item" type="button">Bardage bois brut</button>
    <button class="dropdown-item" type="button">Bardage bois peint</button>
    <button class="dropdown-item" type="button">PVC</button>
    <button class="dropdown-item" type="button">Bois</button>
  </div>
</div>

</div>

<div class="form-row  ml-auto mr-auto"  style="width:1000px;">
  <div class="form-group col-md-3"><p></p>
  </div>
  <div class="form-group col-md-4"><p></p>
    <label>N° BDC</label>
    <p>_____________________________________</p>
  </div>
  <div class="form-group col-md-2">
    <input type="text" class="form-control" id="" >
  </div>
</div>
<div class="form-row  ml-auto mr-auto"  style="width:1000px;">
  <div class="form-group col-md-3"><p></p>
  </div>
  <div class="form-group col-md-4"><p></p>
    <label>Date commande</label>
    <p>_____________________________________</p>
  </div>
  <div class="form-group col-md-2">
    <input type="date" class="form-control" id="" >
  </div>
</div>
<div class="form-row  ml-auto mr-auto"  style="width:1000px;">
  <div class="form-group col-md-3"><p></p>
  </div>
  <div class="form-group col-md-4"><p></p>
    <label>Date réception</label>
    <p>_____________________________________</p>
  </div>
  <div class="form-group col-md-2">
    <input type="date" class="form-control" id="" >
  </div>
</div>




<form>
  <BR>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <button type="button" class="btn btn-primary" disabled data-bs-toggle="button" autocomplete="off" ml-auto mr-auto  style="width:2000px;">Nouvelle commande</button>
      <div class="form-check form-check-inline col-md-6">
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="monsieur">M. </label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="monsieur" value="monsieur">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="madame">Mme </label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="madame" value="madame">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="mademoiselle">Mlle </label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="mademoiselle" value="mademoiselle">
          </div><BR>
        </div>
        <div class="form-group col-md-6">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom" placeholder="Nom">
        </div>
        <div class="form-group col-md-6">
          <label for="prenom">Prénom</label>
          <input type="text" class="form-control" id="prenom" placeholder="Prénom">
        </div>

        <div class="form-group col-md-6">
          <label for="portable">Portable</label>
          <input type="number" class="form-control" id="portable" placeholder="Portable">
        </div>
        <div class="form-group col-md-6">
          <label for="fixe">Tel fixe</label>
          <input type="number" class="form-control" id="fixe" placeholder="Tel fixe">
        </div>

        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="adresse">Adresse</label>
          <input type="text" class="form-control" id="adresse" placeholder="adresse">
        </div>

        <div class="form-group col-md-6">
          <label for="ville">Ville</label>
          <input type="text" class="form-control" id="ville" placeholder="ville">
        </div>
        <div class="form-group col-md-6">
          <label for="cp">Code postal</label>
          <input type="text" class="form-control" id="cp" placeholder="code postal">
        </div>

    </div>

  <BR>

    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <button type="button" class="btn btn-primary" disabled data-bs-toggle="button" autocomplete="off" ml-auto mr-auto  style="width:2000px;">LIEU DU CHANTIER ET SUIVI</button>
    <div class="form-group col-md-4">
      <label for="adresse">Adresse</label>
      <input type="text" class="form-control" id="adresse" placeholder="adresse">
    </div>
    <div class="form-group col-md-4">
      <label for="ville">Ville</label>
      <input type="text" class="form-control" id="ville" placeholder="ville">
    </div>
    <div class="form-group col-md-4">
      <label for="cp">Code postal</label>
      <input type="text" class="form-control" id="cp" placeholder="code postal">
    </div>

    <div class="form-group col-md-4">
      <label for="datelim">Date limite de réception</label>
      <input type="date" class="form-control" id="datelim" placeholder="datelim">
    </div>
    <div class="form-group col-md-4">
      <label for="conseiller">Conseiller</label>
      <input type="text" class="form-control" id="conseiller" placeholder="conseiller">
    </div>
    <div class="form-group col-md-4">
      <label for="inspecteur">Inspecteur</label>
      <input type="text" class="form-control" id="inspecteur" placeholder="inspecteur">
    </div>

    <div class="form-group col-md-12">
      <label for="observation">Observation</label>
      <input type="text" class="form-control" id="observation" placeholder="observation">
    </div>

    </div>



    <div class="form-row  ml-auto mr-auto"  style="width:300px;">

      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ml-auto mr-auto  style="width:300px;">
          Mode de réglement
        </button>
        <p></p>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Comptant</button>
          <button class="dropdown-item" type="button">Financement</button>
        </div>
      </div>
    </div>

    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Montant TTC</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Acompte</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Date encaissement</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="date" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Solde de</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>CDT</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>CDR</label>
        <p>______________________________________________________________________________</p>
        <p>______________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:300px;">

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ml-auto mr-auto  style="width:300px;">
          Financement
        </button>
        <p></p>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Domofinance</button>
          <button class="dropdown-item" type="button">Financo</button>
          <button class="dropdown-item" type="button">Franfinance</button>
        </div>
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Date offre</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="date" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Montant financé</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Durée</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>TAEG(%)</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Coût vendeur</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
      <div class="col text-center">
    <button type="submit" class="btn btn-primary ml-4">Valider</button>
  </div>
  </form>


