



<div class="form-row  ml-auto mr-auto"  style="width:1000px;">



<div class="dropdown ">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Agence
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">La Mézière</button>
    <button class="dropdown-item" type="button">Trégueux</button>
    <button class="dropdown-item" type="button">Fougères</button>
  </div>
</div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Entité vente
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">LFT</button>
    <button class="dropdown-item" type="button">BAT</button>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    origine contact
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Tap</button>
    <button class="dropdown-item" type="button">Rajout client</button>
    <button class="dropdown-item" type="button">Pages jaunes</button>
    <button class="dropdown-item" type="button">Visuel chantier</button>
    <button class="dropdown-item" type="button">Visuel panneau</button>
    <button class="dropdown-item" type="button">Retour prospect</button>
    <button class="dropdown-item" type="button">Relationnel</button>
    <button class="dropdown-item" type="button">Visite agence</button>
    <button class="dropdown-item" type="button">Internet google</button>
    <button class="dropdown-item" type="button">Site internet</button>
    <button class="dropdown-item" type="button">Apporteur internet</button>
    <button class="dropdown-item" type="button">Retour BAL</button>
    <button class="dropdown-item" type="button">Parrainnage</button>
    <button class="dropdown-item" type="button">Coop client</button>
    <button class="dropdown-item" type="button">Coop fournisseur</button>
    <button class="dropdown-item" type="button">Coop ss traitant</button>
    <button class="dropdown-item" type="button">Coop collaborateur</button>
    <button class="dropdown-item" type="button">Galerie march</button>
    <button class="dropdown-item" type="button">Pub mag</button>
    <button class="dropdown-item" type="button">Salon</button>
    <button class="dropdown-item" type="button">Foire</button>
  </div>
</div>



<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Coordonnées client
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button">Nom</button>
    <button class="dropdown-item" type="button">Prénom</button>
    <button class="dropdown-item" type="button">Adresse</button>
    <button class="dropdown-item" type="button">code postal</button>
    <button class="dropdown-item" type="button">Département</button>
    <button class="dropdown-item" type="button">Ville</button>
    <button class="dropdown-item" type="button">Tel</button>
    <button class="dropdown-item" type="button">Portable</button>
    <button class="dropdown-item" type="button">E-mail</button>
  </div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Type travaux
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button">Toiture</button>
    <button class="dropdown-item" type="button">Façade</button>
    <button class="dropdown-item" type="button">Isolation</button>
    <button class="dropdown-item" type="button">Zinguerie</button>
    <button class="dropdown-item" type="button">ITE</button>
    <button class="dropdown-item" type="button">Menuiserie</button>
    <button class="dropdown-item" type="button">Bardage</button>
    <button class="dropdown-item" type="button">Cloison sèche</button>
    <button class="dropdown-item" type="button">Taitement de bois</button>
    <button class="dropdown-item" type="button">Ventilation</button>
    <button class="dropdown-item" type="button">Travaux divers</button>
    <button class="dropdown-item" type="button">Location</button>
  </div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Elément à rénover
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button">Couverture</button>
    <button class="dropdown-item" type="button">Façade complète</button>
    <button class="dropdown-item" type="button">Pignon</button>
    <button class="dropdown-item" type="button">Faitage</button>
    <button class="dropdown-item" type="button">Cheminée</button>
    <button class="dropdown-item" type="button">Sous face</button>
    <button class="dropdown-item" type="button">Gouttière</button>
    <button class="dropdown-item" type="button">Fenêtre de toit</button>
    <button class="dropdown-item" type="button">Rive</button>
    <button class="dropdown-item" type="button">Rive bardelis</button>
    <button class="dropdown-item" type="button">Arrêtier</button>
    <button class="dropdown-item" type="button">Chatière</button>
  </div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Prestation à réaliser
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button">Démoussage simple</button>
    <button class="dropdown-item" type="button">Balayage Demoussage</button>
    <button class="dropdown-item" type="button">Nettoyage Simple</button>
    <button class="dropdown-item" type="button">Hydro coloré</button>
    <button class="dropdown-item" type="button">Hydro coloré sans nettoyage</button>
    <button class="dropdown-item" type="button">Hydro incolore</button>
    <button class="dropdown-item" type="button">Peinture</button>
    <button class="dropdown-item" type="button">Enduisage</button>
    <button class="dropdown-item" type="button">Dégraphage</button>
    <button class="dropdown-item" type="button">Remplacement</button>
    <button class="dropdown-item" type="button">Création</button>
    <button class="dropdown-item" type="button">Pose</button>
    <button class="dropdown-item" type="button">Echafaudage</button>
    <button class="dropdown-item" type="button">Nacelle</button>
  </div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Support existant
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button">Ardoise fibro</button>
    <button class="dropdown-item" type="button">Ardoise naturelle</button>
    <button class="dropdown-item" type="button">Tuile</button>
    <button class="dropdown-item" type="button">Enduit brut</button>
    <button class="dropdown-item" type="button">Enduit peint</button>
    <button class="dropdown-item" type="button">Bardage pvc</button>
    <button class="dropdown-item" type="button">Bardage bois brut</button>
    <button class="dropdown-item" type="button">Bardage bois peint</button>
    <button class="dropdown-item" type="button">PVC</button>
    <button class="dropdown-item" type="button">Bois</button>
  </div>
</div>

</div>

<div class="form-row  ml-auto mr-auto"  style="width:1000px;">
  <div class="form-group col-md-3"><p></p>
  </div>
  <div class="form-group col-md-4"><p></p>
    <label>N° BDC</label>
    <p>_____________________________________</p>
  </div>
  <div class="form-group col-md-2">
    <input type="text" class="form-control" id="" >
  </div>
</div>
<div class="form-row  ml-auto mr-auto"  style="width:1000px;">
  <div class="form-group col-md-3"><p></p>
  </div>
  <div class="form-group col-md-4"><p></p>
    <label>Date commande</label>
    <p>_____________________________________</p>
  </div>
  <div class="form-group col-md-2">
    <input type="date" class="form-control" id="" >
  </div>
</div>
<div class="form-row  ml-auto mr-auto"  style="width:1000px;">
  <div class="form-group col-md-3"><p></p>
  </div>
  <div class="form-group col-md-4"><p></p>
    <label>Date réception</label>
    <p>_____________________________________</p>
  </div>
  <div class="form-group col-md-2">
    <input type="date" class="form-control" id="" >
  </div>
</div>




<form>
  <BR>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <button type="button" class="btn btn-primary" disabled data-bs-toggle="button" autocomplete="off" ml-auto mr-auto  style="width:2000px;">Nouvelle commande</button>
      <div class="form-check form-check-inline col-md-6">
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="monsieur">M. </label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="monsieur" value="monsieur">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="madame">Mme </label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="madame" value="madame">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="mademoiselle">Mlle </label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="mademoiselle" value="mademoiselle">
          </div><BR>
        </div>
        <div class="form-group col-md-6">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom" placeholder="Nom">
        </div>
        <div class="form-group col-md-6">
          <label for="prenom">Prénom</label>
          <input type="text" class="form-control" id="prenom" placeholder="Prénom">
        </div>

        <div class="form-group col-md-6">
          <label for="portable">Portable</label>
          <input type="number" class="form-control" id="portable" placeholder="Portable">
        </div>
        <div class="form-group col-md-6">
          <label for="fixe">Tel fixe</label>
          <input type="number" class="form-control" id="fixe" placeholder="Tel fixe">
        </div>

        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="adresse">Adresse</label>
          <input type="text" class="form-control" id="adresse" placeholder="adresse">
        </div>

        <div class="form-group col-md-6">
          <label for="ville">Ville</label>
          <input type="text" class="form-control" id="ville" placeholder="ville">
        </div>
        <div class="form-group col-md-6">
          <label for="cp">Code postal</label>
          <input type="text" class="form-control" id="cp" placeholder="code postal">
        </div>

    </div>
  
  <BR>
    
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <button type="button" class="btn btn-primary" disabled data-bs-toggle="button" autocomplete="off" ml-auto mr-auto  style="width:2000px;">LIEU DU CHANTIER ET SUIVI</button>
    <div class="form-group col-md-4">
      <label for="adresse">Adresse</label>
      <input type="text" class="form-control" id="adresse" placeholder="adresse">
    </div>
    <div class="form-group col-md-4">
      <label for="ville">Ville</label>
      <input type="text" class="form-control" id="ville" placeholder="ville">
    </div>
    <div class="form-group col-md-4">
      <label for="cp">Code postal</label>
      <input type="text" class="form-control" id="cp" placeholder="code postal">
    </div>

    <div class="form-group col-md-4">
      <label for="datelim">Date limite de réception</label>
      <input type="date" class="form-control" id="datelim" placeholder="datelim">
    </div>
    <div class="form-group col-md-4">
      <label for="conseiller">Conseiller</label>
      <input type="text" class="form-control" id="conseiller" placeholder="conseiller">
    </div>
    <div class="form-group col-md-4">
      <label for="inspecteur">Inspecteur</label>
      <input type="text" class="form-control" id="inspecteur" placeholder="inspecteur">
    </div>

    <div class="form-group col-md-12">
      <label for="observation">Observation</label>
      <input type="text" class="form-control" id="observation" placeholder="observation">
    </div>
   
    </div>



  
    <div class="form-row  ml-auto mr-auto"  style="width:400px;">
      
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" autocomplete="off" ml-auto mr-auto  style="width:400px;">
          DESIGNATION DES TRAVAUX
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Fibrociment</button>
          <button class="dropdown-item" type="button">Naturelle</button>
          <button class="dropdown-item" type="button">Tuile</button>
        </div>
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:700px;">
      
    <p> </p>
      <button type="button" class="btn btn-info"  disabled data-bs-toggle="button" autocomplete="off" ml-auto mr-auto  style="width:800px;"> Rénovation et protection de toiture par procédé de résine hydrofuge imperméabilisante</button>
      <div class="form-check ml-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Colorée en phase aaqueuse microporeuse jusqu'à saturation du support
        </label>
      </div>
      <div class="form-check ml-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Incolore en phase aqueuse microporeuse  haute résistance
        </label>
      </div>

    </div>  
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">

      <div class="form-group col-md-10"><p></p>
        <label>Préparation du chantier et mise en sécurité </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>

      <div class="form-group col-md-10">
        <label> Protection par bâchage polyane étanche de toutes les surfaces nécessaires(abords) </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
      <div class="form-group col-md-10">
        <label> Passage du produit décrassant-désinfectant-dégraissant de type Techniclean ou équivalent </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>

      <div class="form-group col-md-10">
        <label>Assainissement du support </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
      <div class="form-group col-md-10">
        <label>Mise en place du système UHT(ultra haute température)</label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>

      <div class="form-group col-md-10">
        <label>  Vérification et nettoyage des gouttières </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>

      <div class="form-group col-md-10">
        <label>   Vérification complète de la toiture  </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
      <div class="form-group col-md-10">
        <label> Contrôle de tous les points d’infiltration(ardoises ou tuiles, crochets, faîtage,solins…)  </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>

      <div class="form-group col-md-10">
        <label> Changement à neuf des supports présentant un risque d’infiltration </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>

      <div class="form-group col-md-10">
        <label> Pulvérisation d’une solution de traitement démoussant et de désinfection des supports afin d’éliminer toutes les traces de micro-organismes de type Technicide +PAE ou équivalent </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
      <div class="form-group col-md-10">
        <label>Traitement curatif fongicide, algicide, bactéricide </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>

      <div class="form-group col-md-10">
        <label> Traitement préventif>produit à fort pouvoir rémanent en réactivation lors des pluies </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>

      <div class="form-group col-md-10">
        <label>  Mise en place de la protection de profondeur par application Airless de la Résine hydrofuge </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
      <div class="form-group col-md-10">
        <label> Imperméabilisation de la couverture </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>

      <div class="form-group col-md-10">
        <label> Repigmentations de la couverture  </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
     
      <div class="form-group col-md-10">
        <label> Nettoyage et repli du chantier   </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
     
      <div class="form-row  ml-auto mr-auto"  style="width:300px;">
        <button type="button" class="btn btn-primary" disabled data-bs-toggle="button" autocomplete="off" ml-auto mr-auto  style="width:400px;">Travaux complémentaires</button>
      </div>

      <div class="form-group col-md-10">
        <label> Remaniement</label><p></p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="rem1" value="rem1">
          <label class="form-check-label" for="rem1">Jusqu’à 50ardoises </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="rem2" value="rem2">
          <label class="form-check-label" for="rem2">Jusqu’à 100ardoises </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="rem3" value="rem3">
          <label class="form-check-label" for="rem3">Jusqu’à 150ardoises </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="rem1" value="rem1">
          <label class="form-check-label" for="rem4">Aération en toiture de type </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="rem2" value="rem2">
          <label class="form-check-label" for="rem5">Faitière sur </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="rem3" value="rem3">
          <label class="form-check-label" for="rem6"> kit amiante</label>
        </div>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>

      <div class="form-group col-md-10">
        <label>Décapage  </label><p></p>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="rem3" value="rem3">
          <label class="form-check-label" for="rem6"> Peinture de toit existante</label>
        </div>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
      <div class="form-group col-md-10">
        <label>Finition</label><p></p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="fn1" value="fn1">
          <label class="form-check-label" for="fn1"> Hydrofuges rives</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="fn2" value="fn2">
          <label class="form-check-label" for="fn2">Hydrofuges faitage </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="fn3" value="fn3">
          <label class="form-check-label" for="fn3">Hydrofuge gouttières </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="fn4" value="fn4">
          <label class="form-check-label" for="fn4">Hydrofuge fenêtre toit </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="fn5" value="fn5">
          <label class="form-check-label" for="fn5">Peinture cheminée  </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="fn6" value="fn6">
          <label class="form-check-label" for="fn6">Sebicap tête cheminée </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="fn7" value="fn7">
          <label class="form-check-label" for="fn7">Peinture blanche propreté sous-face en façade</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="fn8" value="fn8">
          <label class="form-check-label" for="fn8">En rampant </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="fn9" value="fn9">
          <label class="form-check-label" for="fn9">Ch assis </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="fn10" value="fn10">
          <label class="form-check-label" for="fn10">Nettoyage 1 pignon -50m² </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="fn11" value="fn11">
          <label class="form-check-label" for="fn11">Habillage planche rive ardoise </label>
        </div>

        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>

      <div class="form-group col-md-10">
        <label> Accès</label><p></p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="acc1" value="acc1">
          <label class="form-check-label" for="acc1">Nacelle </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="acc2" value="2acc">
          <label class="form-check-label" for="acc2">Elagage de branche(s) </label>
        </div>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>

      <div class="form-group col-md-10">
        <label class="font-weight-bold">Total (Frais de dossier) </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
      <div class="form-group col-md-10">
        <label class="font-weight-bold">Total(HT) </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
      <div class="form-group col-md-10">
        <label class="font-weight-bold">TVA(%) </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
      <div class="form-group col-md-10">
        <label class="font-weight-bold">Total TTC </label>
        <p>___________________________________________________________________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>


      <div class="form-group col-md-12">
        <input type="text" class="form-control" id="" placeholder="Commentaires">
      </div>
     
    </div>
    
    <div class="form-row  ml-auto mr-auto"  style="width:300px;">

      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ml-auto mr-auto  style="width:300px;">
          Mode de réglement
        </button>
        <p></p>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Comptant</button>
          <button class="dropdown-item" type="button">Financement</button>
        </div>
      </div>
    </div>

    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Montant TTC</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Acompte</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Date encaissement</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="date" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Solde de</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>CDT</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>CDR</label>
        <p>______________________________________________________________________________</p>
        <p>______________________________________________________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:300px;">

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ml-auto mr-auto  style="width:300px;">
          Financement
        </button>
        <p></p>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Domofinance</button>
          <button class="dropdown-item" type="button">Financo</button>
          <button class="dropdown-item" type="button">Franfinance</button>
        </div>
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Date offre</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="date" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Montant financé</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Durée</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>TAEG(%)</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
    <div class="form-row  ml-auto mr-auto"  style="width:1000px;">
      <div class="form-group col-md-3"><p></p>
      </div>
      <div class="form-group col-md-4"><p></p>
        <label>Coût vendeur</label>
        <p>_____________________________________</p>
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" id="" >
      </div>
    </div>
      <div class="col text-center">
    <button type="submit" class="btn btn-primary ml-4">Valider</button>
  </div>
  </form>

  
  