<div style="background-color: #58805a2b;
width: 100%;">
    <img src="assets/images/logo.png" style="width: 10%;     margin-left: 2%;">
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Test1</td>
            <td>Otto</td>
            <td><a (click)="Getdetails(0)"><img src="../../assets/images/loop.png"
                        style="width: 21px; height: 21px;"></a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Test2</td>
            <td>Thonton</td>
            <td><img src="../../assets/images/loop.png" style="width: 21px; height: 21px;"></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>test3</td>
            <td> add</td>
            <td> <img src="../../assets/images/loop.png" style="width: 21px; height: 21px;"></td>
        </tr>
    </tbody>
</table>