
            <!-- Main Content -->
            <div id="content">

              <!-- Begin Page Content -->
              <div class="container-fluid">

                  <!-- Page Heading -->
                  <h1 class="h3 mb-2 text-gray-800">Liste des clients</h1>

                  <!-- DataTales Example -->
                  <div class="card shadow mb-4">
                      <div class="card-header py-3">
                          <h6 class="m-0 font-weight-bold text-primary" style="visibility: hidden;"> DataTables Example</h6>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                  <thead>
                                      <tr>
                                          <th>Civilité</th>
                                          <th>Nom</th>
                                          <th>Prénom</th>
                                          <th>Ville</th>
                                          <th>Téléphone</th>
                                          <th>Email</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tfoot>
                                      <tr>
                                          <th>Civilité</th>
                                          <th>Nom</th>
                                          <th>Prénom</th>
                                          <th>Ville</th>
                                          <th>Téléphone</th>
                                          <th>Email</th>
                                          <th>Action</th>
                                      </tr>
                                  </tfoot>
                                  <tbody>
                                      <tr *ngFor="let user of users;">
                                          <td>{{user.civilite}}</td>
                                          <td>{{user.nom}}</td>
                                          <td>{{user.prenom}}</td>
                                          <td>{{user.ville}}</td>
                                          <td>{{user.tel_portable}}</td>
                                          <td>{{user.email}}</td>
                                          <td><a (click)="Getdetails(user.id)"><img src="../../assets/images/loop.png"
                                              style="width: 21px; height: 21px;"></a> </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>

              </div>
              <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->