<div style="background-color: #58805a2b;
width: 100%;">
    <img src="assets/images/logo.png" style="width: 10%;     margin-left: 2%;">
</div>
<button class="btn btn-success" style="    margin-top: 1%;
float: right;
font-size: revert;
margin-right: 3%;
margin-bottom: 4%;">Exporter Excel</button>




<mat-form-field>
    <mat-label>Rechercher : </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Prénom">
      <th mat-header-cell *matHeaderCellDef> Prénom </th>
      <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> <a (click)="Getdetails(element.id)"><img src="../../assets/images/loop.png"
        style="width: 21px; height: 21px;"></a> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Pas de données qui correspond à :  "{{input.value}}"</td>
    </tr>
  </table>