body bs-dropdown-container{
    left: -116px;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
    margin-left: 5%;
    margin-top: 2%;
  }
  .mat-form-field-underline{
    width: 3% !important;
  }