.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: -25px;
    margin-left:  15%;
  }
  .mat-body p, .mat-body-1 p, .mat-typography p {
    margin: 0 0 0px !important;
}
  .dropdown-menu ng-star-inserted show{
    inset: 100% auto auto 0px;
    transform: translateY(-474px);
  }
  body bs-dropdown-container{
    left: -116px;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color:#9bd06b;
    color: #fff;
}
.cmd-radio{
  margin-top: 2%;  margin-bottom: 2%;
}
.cmd-img{
  width: 1.5%; margin-left: 2%;
}
.margin-btn{
  margin-bottom: 2%;
}
.svg{
  margin-top: 0%; ; float: right;     font-size: revert;
}