
            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">
  
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Liste des administrateurs</h1>
                    
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">

                            <div>
                                <input [(ngModel)]="searchAdmin" class="form-control bg-light border-0 small" placeholder="Rechercher..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Civilité</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Téléphone</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Civilité</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Téléphone</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr *ngFor="let ad of admins | filterSearch: searchAdmin">
                                            <td>{{ad.civilite}}</td>
                                            <td>{{ad.nom}}</td>
                                            <td>{{ad.prenom}}</td>
                                            <td>{{ad.tel_portable}}</td>
                                            <td>{{ad.email}}</td>
                                            <td>
                                                <button style="margin:5px;">
                                                    <span>Modifier</span>
                                                </button> 
                                                <button style="margin:5px;">     
                                                    <span>Supprimer</span> 
                                                    <i class="fa fa-trash" aria-hidden="false"></i>    
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
  
                </div>
                <!-- /.container-fluid -->
  
            </div>
            <!-- End of Main Content -->
